/**
 * Primary styles
 *
 * Author: Mike Priebe, with thanks to Bootstrap
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  background: #F2F2F2;
  color: #C0C0C0;
  margin-bottom: 60px; /* Margin bottom by footer height */
  min-width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  /*padding-top: 50px;*/ /*to offset for sticky nav*/
}
a {
  color: #C0C0C0;
}
a:hover {
  /*color: #919191;*/
  color: #E03D17;
}


/********** CSS3 ANIMATIONS **********/

.landing-page-hint-1
{
color: inherit;
animation:landingpagehintONE 4s;
-moz-animation:landingpagehintONE 4s; /* Firefox */
-webkit-animation:landingpagehintONE 4s; /* Safari and Chrome */
}

@keyframes landingpagehintONE
{
0%   {color: #C0C0C0;}
40%   {color: #C0C0C0;}
55%   {color: #E03D17;}
70% {color: #C0C0C0;}
100% {color: #C0C0C0;}
}

@-moz-keyframes landingpagehintONE /* Firefox */
{
0%   {color: #C0C0C0;}
40%   {color: #C0C0C0;}
55%   {color: #E03D17;}
70% {color: #C0C0C0;}
100% {color: #C0C0C0;}
}

@-webkit-keyframes landingpagehintONE /* Safari and Chrome */
{
0%   {color: #C0C0C0;}
40%   {color: #C0C0C0;}
55%   {color: #E03D17;}
70% {color: #C0C0C0;}
100% {color: #C0C0C0;}
}

.landing-page-hint-2
{
color: inherit;
animation:landingpagehintTWO 4s;
-moz-animation:landingpagehintTWO 4s; /* Firefox */
-webkit-animation:landingpagehintTWO 4s; /* Safari and Chrome */
}

@keyframes landingpagehintTWO
{
0%   {color: #C0C0C0;}
70%   {color: #C0C0C0;}
85%   {color: #E03D17;}
100% {color: #C0C0C0;}
}

@-moz-keyframes landingpagehintTWO /* Firefox */
{
0%   {color: #C0C0C0;}
70%   {color: #C0C0C0;}
85%   {color: #E03D17;}
100% {color: #C0C0C0;}
}

@-webkit-keyframes landingpagehintTWO /* Safari and Chrome */
{
0%   {color: #C0C0C0;}
70%   {color: #C0C0C0;}
85%   {color: #E03D17;}
100% {color: #C0C0C0;}
}




/********** CONTENT **********/

.logo {
   position: absolute;
   top: 45%;
   left: 50%;
   width: 310px;
   height: 180px;
   margin-top: -90px; /* Half the height */
   margin-left: -155px; /* Half the width */
   text-align: center;
   letter-spacing: 2px;
}
.logo img {
  margin-bottom: 20px;
}




/********** FOOTER **********/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: rgba(192, 192, 192, .3);
}
.footer-navigation {
  display: inline-block;
  height: 60px;
}
.navigation-left-side {
  float: left;
  width: 42%;
  text-align: center;
}
.navigation-menu {
  float: left;
  width: 16%;
}
.navigation-right-side {
  float: right;
  width: 42%;
  text-align: center;
}
.footer-button {
  color: inherit;
  background-color: transparent;
  height: 100%;
  border-radius: 0;
  border-style: none;
  border: 1px solid #bbb;
}
.btn-lg, .btn-group-lg>.btn {
  padding: 16px;
}


/********** BROWSER FIXES **********/

::-moz-selection{
  background:#E05317;
  color:#F1F1F1;
  text-shadow: none;
}
::selection {
  background:#E05317;
  color:#F1F1F1;
  text-shadow: none;
}
/* Firefox will add, for accessibility purposes, a small dotted border on a focused button, override native style below */
button::-moz-focus-inner { }



